* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.BaseLayout__wrapper {
    background-color: var(--primary-background-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.full-size {
    width: 100%;
    height: 100%;
}

.full-size-w {
    width: 100%;
}

.half-size {
    width: 50%;
    height: 50%;
}

.half-size-w {
    width: 50%;
}

.half-size-h {
    height: 50%;
}

.full-size-h {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.link-hovered {
    color: var(--link-color);
}

.link-hovered:hover {
    color: var(--link-hover-color) !important;
}

.box-shadow {
    box-shadow: var(--box-shadow);
}

.transition {
    transition: var(--transition);
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.border-radius {
    border-radius: var(--border-radius);
}

.overflow-hidden {
    overflow: hidden;
}

