.flex {
    display: flex;
}

.flex-ai-center {
    align-items: center;
}

.flex-jc-center {
    justify-content: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-sa {
    justify-content: space-around;
}

.flex-jc-end {
    justify-content: flex-end;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.gap-3xs {
    gap: var(--space-3xs);
}

.gap-2xs {
    gap: var(--space-2xs);
}

.gap-xs {
    gap: var(--space-xs);
}

.gap-sm {
    gap: var(--space-sm);
}

.gap-md {
    gap: var(--space-md);
}

.gap-lg {
    gap: var(--space-lg);
}

.gap-xl {
    gap: var(--space-xl);
}

.gap-2xl {
    gap: var(--space-2xl);
}

.gap-3xl {
    gap: var(--space-3xl);
}
