/* Margin все стороны */
.m-3xs {
    margin: var(--space-3xs);
}

.m-2xs {
    margin: var(--space-2xs);
}

.m-xs {
    margin: var(--space-xs);
}

.m-sm {
    margin: var(--space-sm);
}

.m-md {
    margin: var(--space-md);
}

.m-lg {
    margin: var(--space-lg);
}

.m-xl {
    margin: var(--space-xl);
}

.m-2xl {
    margin: var(--space-2xl);
}

.m-3xl {
    margin: var(--space-3xl);
}

.m-auto {
    margin: auto;
}

/* Margin top */
.mt-3xs {
    margin-top: var(--space-3xs);
}

.mt-2xs {
    margin-top: var(--space-2xs);
}

.mt-xs {
    margin-top: var(--space-xs);
}

.mt-sm {
    margin-top: var(--space-sm);
}

.mt-md {
    margin-top: var(--space-md);
}

.mt-lg {
    margin-top: var(--space-lg);
}

.mt-xl {
    margin-top: var(--space-xl);
}

.mt-2xl {
    margin-top: var(--space-2xl);
}

.mt-3xl {
    margin-top: var(--space-3xl);
}

.mt-auto {
    margin-top: auto;
}

/* Margin right */
.mr-3xs {
    margin-right: var(--space-3xs);
}

.mr-2xs {
    margin-right: var(--space-2xs);
}

.mr-xs {
    margin-right: var(--space-xs);
}

.mr-sm {
    margin-right: var(--space-sm);
}

.mr-md {
    margin-right: var(--space-md);
}

.mr-lg {
    margin-right: var(--space-lg);
}

.mr-xl {
    margin-right: var(--space-xl);
}

.mr-2xl {
    margin-right: var(--space-2xl);
}

.mr-3xl {
    margin-right: var(--space-3xl);
}

.mr-auto {
    margin-right: auto;
}

/* Margin bottom */
.mb-3xs {
    margin-bottom: var(--space-3xs);
}

.mb-2xs {
    margin-bottom: var(--space-2xs);
}

.mb-xs {
    margin-bottom: var(--space-xs);
}

.mb-sm {
    margin-bottom: var(--space-sm);
}

.mb-md {
    margin-bottom: var(--space-md);
}

.mb-lg {
    margin-bottom: var(--space-lg);
}

.mb-xl {
    margin-bottom: var(--space-xl);
}

.mb-2xl {
    margin-bottom: var(--space-2xl);
}

.mb-3xl {
    margin-bottom: var(--space-3xl);
}

.mb-auto {
    margin-bottom: auto;
}

/* Margin left */
.ml-3xs {
    margin-left: var(--space-3xs);
}

.ml-2xs {
    margin-left: var(--space-2xs);
}

.ml-xs {
    margin-left: var(--space-xs);
}

.ml-sm {
    margin-left: var(--space-sm);
}

.ml-md {
    margin-left: var(--space-md);
}

.ml-lg {
    margin-left: var(--space-lg);
}

.ml-xl {
    margin-left: var(--space-xl);
}

.ml-2xl {
    margin-left: var(--space-2xl);
}

.ml-3xl {
    margin-left: var(--space-3xl);
}

.ml-auto {
    margin-left: auto;
}

/* Margin по осям */
.mx-3xs {
    margin-left: var(--space-3xs);
    margin-right: var(--space-3xs);
}

.mx-2xs {
    margin-left: var(--space-2xs);
    margin-right: var(--space-2xs);
}

.mx-xs {
    margin-left: var(--space-xs);
    margin-right: var(--space-xs);
}

.mx-sm {
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
}

.mx-md {
    margin-left: var(--space-md);
    margin-right: var(--space-md);
}

.mx-lg {
    margin-left: var(--space-lg);
    margin-right: var(--space-lg);
}

.mx-xl {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
}

.mx-2xl {
    margin-left: var(--space-2xl);
    margin-right: var(--space-2xl);
}

.mx-3xl {
    margin-left: var(--space-3xl);
    margin-right: var(--space-3xl);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-3xs {
    margin-top: var(--space-3xs);
    margin-bottom: var(--space-3xs);
}

.my-2xs {
    margin-top: var(--space-2xs);
    margin-bottom: var(--space-2xs);
}

.my-xs {
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xs);
}

.my-sm {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);
}

.my-md {
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);
}

.my-lg {
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);
}

.my-xl {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
}

.my-2xl {
    margin-top: var(--space-2xl);
    margin-bottom: var(--space-2xl);
}

.my-3xl {
    margin-top: var(--space-3xl);
    margin-bottom: var(--space-3xl);
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}


/* Padding все стороны */
.p-3xs {
    padding: var(--space-3xs);
}

.p-2xs {
    padding: var(--space-2xs);
}

.p-xs {
    padding: var(--space-xs);
}

.p-sm {
    padding: var(--space-sm);
}

.p-md {
    padding: var(--space-md);
}

.p-lg {
    padding: var(--space-lg);
}

.p-xl {
    padding: var(--space-xl);
}

.p-2xl {
    padding: var(--space-2xl);
}

.p-3xl {
    padding: var(--space-3xl);
}

/* Padding top */
.pt-3xs {
    padding-top: var(--space-3xs);
}

.pt-2xs {
    padding-top: var(--space-2xs);
}

.pt-xs {
    padding-top: var(--space-xs);
}

.pt-sm {
    padding-top: var(--space-sm);
}

.pt-md {
    padding-top: var(--space-md);
}

.pt-lg {
    padding-top: var(--space-lg);
}

.pt-xl {
    padding-top: var(--space-xl);
}

.pt-2xl {
    padding-top: var(--space-2xl);
}

.pt-3xl {
    padding-top: var(--space-3xl);
}

/* Padding right */
.pr-3xs {
    padding-right: var(--space-3xs);
}

.pr-2xs {
    padding-right: var(--space-2xs);
}

.pr-xs {
    padding-right: var(--space-xs);
}

.pr-sm {
    padding-right: var(--space-sm);
}

.pr-md {
    padding-right: var(--space-md);
}

.pr-lg {
    padding-right: var(--space-lg);
}

.pr-xl {
    padding-right: var(--space-xl);
}

.pr-2xl {
    padding-right: var(--space-2xl);
}

.pr-3xl {
    padding-right: var(--space-3xl);
}

/* Padding bottom */
.pb-3xs {
    padding-bottom: var(--space-3xs);
}

.pb-2xs {
    padding-bottom: var(--space-2xs);
}

.pb-xs {
    padding-bottom: var(--space-xs);
}

.pb-sm {
    padding-bottom: var(--space-sm);
}

.pb-md {
    padding-bottom: var(--space-md);
}

.pb-lg {
    padding-bottom: var(--space-lg);
}

.pb-xl {
    padding-bottom: var(--space-xl);
}

.pb-2xl {
    padding-bottom: var(--space-2xl);
}

.pb-3xl {
    padding-bottom: var(--space-3xl);
}

/* Padding left */
.pl-3xs {
    padding-left: var(--space-3xs);
}

.pl-2xs {
    padding-left: var(--space-2xs);
}

.pl-xs {
    padding-left: var(--space-xs);
}

.pl-sm {
    padding-left: var(--space-sm);
}

.pl-md {
    padding-left: var(--space-md);
}

.pl-lg {
    padding-left: var(--space-lg);
}

.pl-xl {
    padding-left: var(--space-xl);
}

.pl-2xl {
    padding-left: var(--space-2xl);
}

.pl-3xl {
    padding-left: var(--space-3xl);
}

/* Padding по осям */
.px-3xs {
    padding-left: var(--space-3xs);
    padding-right: var(--space-3xs);
}

.px-2xs {
    padding-left: var(--space-2xs);
    padding-right: var(--space-2xs);
}

.px-xs {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
}

.px-sm {
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
}

.px-md {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
}

.px-lg {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
}

.px-xl {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
}

.px-2xl {
    padding-left: var(--space-2xl);
    padding-right: var(--space-2xl);
}

.px-3xl {
    padding-left: var(--space-3xl);
    padding-right: var(--space-3xl);
}

.py-3xs {
    padding-top: var(--space-3xs);
    padding-bottom: var(--space-3xs);
}

.py-2xs {
    padding-top: var(--space-2xs);
    padding-bottom: var(--space-2xs);
}

.py-xs {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
}

.py-sm {
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
}

.py-md {
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
}

.py-lg {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
}

.py-xl {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
}

.py-2xl {
    padding-top: var(--space-2xl);
    padding-bottom: var(--space-2xl);
}

.py-3xl {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
}
