.p-megamenu-vertical {
    width: fit-content;
    min-width: fit-content !important;
}

.p-megamenu {
    background-color: var(--secondary-background-color);
}

.p-inputtext,
.p-password-input {
    width: 100%;
}

:root {
    --p-divider-border-color: var(--text-color) !important;
    --p-inputtext-background: #a5a5a5;
    --p-inputtext-color: var(--text-color) !important;
    --p-inputtext-border-color: var(--link-color) !important;
    --p-inputtext-disabled-background: var(--secondary-background-color) !important;
    --p-primary-color: var(--primary-color) !important;
    --p-primary-hover-color: var(--primary-hover-color) !important;
    --p-iftalabel-color: var(--text-color) !important;
    --p-iftalabel-focus-color: var(--primary-color) !important;
    --p-togglebutton-checked-background: var(--secondary-background-color) !important;
    --p-togglebutton-checked-border-color: var(--secondary-background-color) !important;
    --p-togglebutton-content-checked-background: var(--primary-background-color) !important;
    --p-togglebutton-checked-color: var(--text-color) !important;
    --p-togglebutton-background: var(--secondary-background-color) !important;
    --p-togglebutton-border-color: var(--secondary-background-color) !important;
    --p-togglebutton-content-background: var(--primary-background-color) !important;
    --p-togglebutton-color: var(--link-color) !important;
    --p-togglebutton-hover-background: var(--btn-hover-color) !important;
    --p-togglebutton-hover-color: var(--text-color) !important;
    --p-datepicker-panel-background: var(--secondary-background-color) !important;
    --p-datepicker-header-background: var(--primary-background-color) !important;
    --p-content-background: var(--secondary-background-color) !important;
    --p-stepper-steppanel-background: var(--secondary-background-color) !important;
    --p-surface-0: var(--secondary-background-color) !important;
    --p-datepicker-select-month-color: var(--text-color) !important;
    --p-datepicker-date-color: var(--text-color) !important;
    --p-datepicker-select-year-color: var(--text-color) !important;
    --p-datepicker-week-day-color: var(--link-color) !important;
}

.app-dark {
    --p-divider-border-color: var(--text-color) !important;
    --p-inputtext-background: #14171b;
    --p-inputtext-color: var(--text-color) !important;
    --p-inputtext-border-color: var(--link-color) !important;
    --p-inputtext-disabled-background: var(--secondary-background-color) !important;
    --p-primary-color: var(--primary-color) !important;
    --p-primary-hover-color: var(--primary-hover-color) !important;
    --p-iftalabel-color: var(--text-color) !important;
    --p-iftalabel-focus-color: var(--primary-color) !important;
    --p-togglebutton-checked-background: var(--secondary-background-color) !important;
    --p-togglebutton-checked-border-color: var(--secondary-background-color) !important;
    --p-togglebutton-content-checked-background: var(--primary-background-color) !important;
    --p-togglebutton-checked-color: var(--text-color) !important;
    --p-togglebutton-background: var(--secondary-background-color) !important;
    --p-togglebutton-border-color: var(--secondary-background-color) !important;
    --p-togglebutton-content-background: var(--primary-background-color) !important;
    --p-togglebutton-color: var(--link-color) !important;
    --p-togglebutton-hover-background: var(--btn-hover-color) !important;
    --p-togglebutton-hover-color: var(--text-color) !important;
    --p-datepicker-panel-background: var(--secondary-background-color) !important;
    --p-datepicker-header-background: var(--primary-background-color) !important;
    --p-content-background: var(--secondary-background-color) !important;
    --p-stepper-steppanel-background: var(--secondary-background-color) !important;
    --p-surface-0: var(--secondary-background-color) !important;
    --p-datepicker-select-month-color: var(--text-color) !important;
    --p-datepicker-date-color: var(--text-color) !important;
    --p-datepicker-select-year-color: var(--text-color) !important;
    --p-datepicker-week-day-color: var(--link-color) !important;
}

.BaseForm__wrapper {
    --p-togglebutton-checked-background: var(--form-secondary-color) !important;
    --p-togglebutton-checked-border-color: var(--form-secondary-color) !important;
    --p-togglebutton-content-checked-background: var(--form-primary-color) !important;
    --p-togglebutton-checked-color: var(--text-color) !important;
    --p-togglebutton-background: var(--form-secondary-color) !important;
    --p-togglebutton-border-color: var(--form-secondary-color) !important;
    --p-togglebutton-content-background: var(--form-primary-color) !important;
    --p-togglebutton-color: var(--link-color) !important;
    --p-togglebutton-hover-background: var(--btn-hover-color) !important;
    --p-togglebutton-hover-color: var(--text-color) !important;
}
